<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Ticket</title>
    <style>
        td { text-align: center; }
    </style>
</head>
<body>
<h1>Please, create some Tickets</h1>
<form action="#" th:action="@{/create/ticket-create/event/{id} (id=${IdOfEvent})}" method="post">
    <table border="1">
        <tr>
            <td>Event's name:</td>
            <td th:text="${event.eventName}"></td>
        </tr>
        <tr>
            <td>Type of Event:</td>
            <td th:text="${event.eventType.eventTypeName}"></td>
        </tr>
        <tr>
            <td>Date of event:</td>
            <td th:text="${#temporals.format(event.dateOfEvent, 'dd.MM.yyyy HH:mm')}"></td>
        </tr>
        <tr>
            <td>Choose sector of ticket:</td>
            <td>
                <select name="sectorId">
                    <option th:each="sector : ${sectors}" th:value="${sector.id}" th:text="${sector.sectorName}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Enter the number of the seat from which you want to create tickets</td>
            <td><input type="number" name="fromSeatNumber" placeholder="Write number FROM"></td>
        </tr>
        <tr>
            <td>Enter the number of the place to which you want to create tickets</td>
            <td><input type="number" name="toSeatNumber" placeholder="Write number TO"></td>
        </tr>
        <tr>
            <td>Enter the cost of the ticket</td>
            <td><input type="number" name="cost" placeholder="Write cost"></td>
        </tr>
        <tr>
            <td><button type="submit">Create Tickets</button></td>
        </tr>
    </table>
</form>
<div><a href="/main">Go to main page</a></div>
</body>
</html>