<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Stadiums</title>
</head>
<body>
<div>
    <div>
        <h2>Stadiums</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name of stadium</th>
                <th>EventTypes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stadium : ${stadiums}">
                <td th:text="${stadium.id}"></td>
                <td th:text="${stadium.stadiumName}"></td>
                <td>
                    <ul>
                        <li th:each="typeOfEvent : ${stadium.eventTypes}" th:text="${typeOfEvent.eventTypeName}">Name of event type</li>
                    </ul>
                </td>
                <td><a th:href="@{/update/stadium-update/{id}(id=${stadium.id})}">Edit</a></td>
                <td><a th:href="@{/delete/stadium-delete/{id}(id=${stadium.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/create/stadium-create">Create stadium</a></p>
</div>
<div><a href="/main">Перейти на главную страницу</a></div>
</body>
</html>