<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TicketsByEvent</title>
    <style>
        td { text-align: center; }
    </style>
</head>
<body>
<div>
    <div>
        <h2>Билеты на выбранное мероприятие</h2>
        <table border="10">
            <thead>
            <tr>
                <th>Id</th>
                <th>Sector</th>
                <th>Seat's number</th>
                <th>Cost</th>
                <th>Is bought</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket, iStat : ${bookPage.content}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <td th:text="${ticket.id}"></td>
                <td th:text="${ticket.sectorOfTicket.sectorName}"></td>
                <td th:text="${ticket.seatNumber}"></td>
                <td th:text="${ticket.ticketCost}"></td>
                <td th:text="${ticket.ticketBought}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/update/ticket-update/event/{eventId}/{ticketId} (eventId=${IdOfEvent}, ticketId=${ticket.id})}">Edit</a></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/delete/ticket-delete/{eventId}/{ticketId} (eventId=${IdOfEvent}, ticketId=${ticket.id}) }">Delete</a></td>
                <td th:if="${ticket.ticketBought} == false">
                    <form action="#" th:action="@{/buy/ticket-buy/{eventId}/{ticketId} (eventId=${IdOfEvent}, ticketId=${ticket.id})}" method="post">
                        <input type="submit" value="Buy ticket">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${bookPage.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/tickets/event/{id}(id=${IdOfEvent}, size=${bookPage.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==bookPage.number + 1} ? active"></a>
        </div>
    </div>
    <p sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/create/ticket-create/event/{id}(id=${IdOfEvent})}">Create tickets</a></p>
    <p sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/delete/ticket-delete/event/{id} (id=${IdOfEvent})}">Delete tickets</a></p>
</div>
<div><a href="/main">Go to main page</a></div>
</body>
</html>