<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <div>
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>User's name</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userName}"></td>
                <td>
                    <ul>
                        <li th:each="role : ${user.roles}" th:text="${role}"></li>
                    </ul>
                </td>
                <td><a th:href="@{/update/user/{id}(id=${user.id})}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div><a href="/main">Перейти на главную страницу</a></div>
</body>
</html>