<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update EventType</title>
    <style>
        td { text-align: center; }
    </style>
</head>
<body>
<form action="#" th:action="@{/update/eventType-update}" th:object="${eventType}" method="post">
    <table border="1">
        <tr>
            <td>ID:</td>
            <td><input readonly type="number" th:field="*{id}" id="id" placeholder="ID"></td>
        </tr>
        <tr>
            <td>EventType name:</td>
            <td> <input type="text" th:field="*{eventTypeName}" id="eventTypeName" placeholder="Write name for EventType" /></td>
            <td th:if="${#fields.hasErrors('eventTypeName')}" th:errors="*{eventTypeName}" th:style="${'color: red;'}">Name Error</td>
        </tr>
        <tr>
            <td><button type="submit">Update EvenType</button></td>
        </tr>
    </table>
</form>
<div><a href="/main">Go to main page</a></div>
</body>
</html>