<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update Manager</title>
    <style>
        td { text-align: center; }
    </style>
</head>
<body>
<form action="#" th:action="@{/update/manager-update}" th:object="${manager}" method="post">
    <table border="1">
        <tr>
            <td>Manager's ID:</td>
            <td><input readonly type="number" th:field="*{id}" id="id" placeholder="ID"></td>
        </tr>
        <tr>
            <td>Manager's name:</td>
            <td> <input type="text" th:field="*{managerName}" id="managerName" placeholder="Write name for Manager" /></td>
            <td th:if="${#fields.hasErrors('managerName')}" th:errors="*{managerName}" th:style="${'color: red;'}">Name Error</td>
        </tr>
        <tr>
            <td>Manager's telephone number:</td>
            <td> <input type="text" th:field="*{managerTelephoneNumber}" id="managerTelephoneNumber" placeholder="Write telephone number for Manager" /></td>
            <td th:if="${#fields.hasErrors('managerTelephoneNumber')}" th:errors="*{managerTelephoneNumber}" th:style="${'color: red;'}">Telephone number Error</td>
        </tr>
        <tr>
            <td><button type="submit">Update Manager</button></td>
        </tr>
    </table>
</form>
<div><a href="/main">Go to main page</a></div>
</body>
</html>