<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update Ticket</title>
    <style>
        td { text-align: center; }
    </style>
</head>
<body>
<h1>Please, edit Ticket</h1>
<form action="#" th:action="@{/update/ticket-update/event/{eventId}/{ticketId} (eventId=${IdOfEvent}, ticketId=${IdOfTicket})}" method="post">
    <table border="1">
        <tr>
            <td>ID</td>
            <td><input readonly type="number" th:field="${ticket.id}" id="id" placeholder="ID"></td>
        </tr>
        <tr>
            <td>Event's name:</td>
            <td th:text="${event.eventName}"></td>
        </tr>
        <tr>
            <td>EventType:</td>
            <td th:text="${event.eventType.eventTypeName}"></td>
        </tr>
        <tr>
            <td>Date of Event:</td>
            <td th:text="${#temporals.format(event.dateOfEvent, 'dd.MM.yyyy HH:mm')}"></td>
        </tr>
        <tr>
            <td>Choose sector of the ticket:</td>
            <td>
                <select name="sectorId">
                    <option th:each="sector : ${sectors}" th:value="${sector.id}" th:text="${sector.sectorName}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Enter the seat number</td>
            <td><input type="number" name="numberOfTicketSeat" placeholder="Write seat number"></td>
        </tr>
        <tr>
            <td>Enter the cost of the ticket</td>
            <td><input type="number" name="cost" placeholder="Write cost"></td>
        </tr>
        <tr>
            <td><button type="submit">Update Ticket</button></td>
        </tr>
    </table>
</form>
<div><a href="/main">Go to main page</a></div>
</body>
</html>