<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
</head>
<body>
<h1>Please, create some Event</h1>
<form action="#" th:action="@{/event-create/byEventType}" th:object="${typeOfEvent}" method="post">
    <table>
        <!--<tr>
            <td>EventType</td>
            <td><input readonly type="text" th:="${event.eventType}" th:value="${eventType}" th:text="${eventType.eventTypeName}"></td>
            <td th:if="${#fields.hasErrors('eventType')}" th:errors="*{eventType}" th:style="${'color: red;'}">EventType Error</td>
        </tr>-->
        <tr>
            <td>
                <select th:field="${event.eventType}">
                    <option th:each="ev : ${eventTypes}" th:value="${ev.id}" th:text="${ev.eventTypeName}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('stadiumOfEvent')}" th:errors="*{stadiumOfEvent}" th:style="${'color: red;'}">Event's stadium Error</td>
        </tr>
        <tr>
            <td>Event's name:</td>
            <td> <input type="text" th:field="${event.eventName}" placeholder="Write name for Event"></td>
            <td th:if="${#fields.hasErrors('eventName')}" th:errors="*{eventName}" th:style="${'color: red;'}">Event's name Error</td>
        </tr>
        <tr>
            <td>Event's date:</td>
            <td> <input type="datetime-local" th:field="${event.dateOfEvent}" name="date" placeholder="Write date for Event"></td>
            <td th:if="${#fields.hasErrors('dateOfEvent')}" th:errors="*{dateOfEvent}" th:style="${'color: red;'}">Event's date Error</td>
        </tr>
        <tr>
            <td>Event's stadium</td>
            <td>
                <select th:field="${event.stadiumOfEvent}">
                    <option th:each="stadium : ${stadiums}" th:value="${stadium.id}" th:text="${stadium.stadiumName}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('stadiumOfEvent')}" th:errors="*{stadiumOfEvent}" th:style="${'color: red;'}">Event's stadium Error</td>
        </tr>
        <tr>
            <td>Event's start of preparation period:</td>
            <td> <input type="date" th:field="${event.startOfPreparationOfStadium}" name="startOfPreparation" placeholder="Write period of prepare for Event"></td>
            <td th:if="${#fields.hasErrors('startOfPreparationOfStadium')}" th:errors="*{startOfPreparationOfStadium}" th:style="${'color: red;'}">Event's start of period Error</td>
        </tr>
        <tr>
            <td>Event's end of dismantle period:</td>
            <td> <input type="date" th:field="${event.endOfDismantleOfStadium}" name="endOfDismantle" placeholder="Write period of prepare for Event"></td>
            <td th:if="${#fields.hasErrors('endOfDismantleOfStadium')}" th:errors="*{endOfDismantleOfStadium}" th:style="${'color: red;'}">Event's end of period Error</td>
        </tr>
        <tr>
            <td>Event's manager</td>
            <td>
                <select th:field="${event.eventManager}">
                    <option th:each="manager : ${managers}" th:value="${manager.id}" th:text="${manager.managerName}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('eventManager')}" th:errors="*{eventManager}" th:style="${'color: red;'}">Event's manager Error</td>
        </tr>
        <tr>
            <td><button type="submit">Create Event</button></td>
        </tr>
    </table>
</form>
<!--<form action="#" th:action="@{/event-create}" method="post">
    <select th:field="${event.eventType}">
        <option th:each="eventType : ${eventTypes}" th:value="${eventType.id}" th:text="${eventType.eventTypeName}">
        </option>
    </select>
    <label>Event's name</label>
    <input type="text" th:field="${event.eventName}" placeholder="Write name for Event">
    <label>Event's date</label>
    <input type="datetime-local" name="date" placeholder="Write date for Event">
    <select th:field="${event.stadiumOfEvent}">
        <option th:each="stadium : ${}" th:value="${stadium.id}" th:text="${stadium.stadiumName}">
        </option>
    </select>
    <label>Event's period of prepare</label>
    <input type="date" name="startOfPreparation" placeholder="Write period of prepare for Event">
    <input type="date" name="endOfDismantle" placeholder="Write period of prepare for Event">
    <select th:field="${event.eventManager}">
        <option th:each="manager : ${managers}" th:value="${manager.id}" th:text="${manager.managerName}">
        </option>
    </select>
    <input type="submit" value="Create event">
</form>-->
<div><a href="/main">Перейти на главную страницу</a></div>
</body>
</html>