<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Ticketj</title>
</head>
<body>
    <div>Hello!</div>
    <div sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/list/user-list}">Пользователи</a></div>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')"><a href="/list/eventTypes">Перейти к списку видов мероприятий</a></div>
    <div sec:authorize="hasRole('ROLE_ADMIN')"><a href="/list/managers">Перейти к списку организаторов</a></div>
    <div sec:authorize="hasRole('ROLE_ADMIN')"><a href="/list/stadiums">Перейти к списку стадионов</a></div>
    <div sec:authorize="hasRole('ROLE_ADMIN')"><a href="/list/events">Перейти к списку мероприятий</a></div>
    <div sec:authorize="hasRole('ROLE_ADMIN')"><a href="/list/sectors">Перейти к списку секторов</a></div>
    <div><a href="/tickets">Перейти к списку билетов</a></div>
</body>
</html>