<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Manager</title>
</head>
<body>
<form action="#" th:action="@{/manager-create}" th:object="${manager}" method="post">
    <label for="managerName">Manager's name</label>
    <input type="text" th:field="*{managerName}" id="managerName" placeholder="Write name for Manager">
    <input type="submit" value="Create manager">
</form>
<div><a href="/main">Перейти на главную страницу</a></div>
</body>
</html>