<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update Tiasdcket</title>
</head>
<body>
<!--<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>-->
Add new User
<!--<div th:if="${message}"><div th:text="message"></div></div>-->
<form action="#" th:action="@{/registration}" method="post">
    <div><label> User Name : <input type="text" name="userName"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Add this user"/></div>
</form>
</body>
</html>