<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>EventTypes of Stadium</title>
</head>
<body>
<div>
    <div>
        <h2>Список возможных видов мероприятий для стадиона<div th:text=" ${stadium.stadiumName}"></div></h2>
        <div>
            <tr th:each="eventType : ${stadium.eventTypes}">
                <div>
                    <td th:text="${eventType.eventTypeName}"></td>
                </div>
            </tr>
        </div>
    </div>
</div>
<div><a href="/main">Перейти на главную страницу</a></div>
</body>
</html>