<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>TicketsByEvent</title>
</head>
<body>
<div>
    <div>
        <h2>Билеты на выбранное мероприятие</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Sector</th>
                <th>Seat's number</th>
                <th>Cost</th>
                <th>Is bought</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.id}"></td>
                <td th:text="${ticket.sectorOfTicket.sectorName}"></td>
                <td th:text="${ticket.seatNumber}"></td>
                <td th:text="${ticket.ticketCost}"></td>
                <td th:text="${ticket.ticketBought}"></td>
                <td><a th:href="@{/ticket-update/event/{eventId}/{ticketId} (eventId=${event.id}, ticketId=${ticket.id})}">Edit</a></td>
                <td><a th:href="@{/ticket-delete/{eventId}/{ticketId} (eventId=${event.id}, ticketId=${ticket.id}) }">Delete</a></td>
                <td>
                    <form action="#" th:action="@{/ticket-buy/{eventId}/{ticketId} (eventId=${event.id}, ticketId=${ticket.id})}" method="post">
                        <input type="submit" value="Buy ticket">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{/ticket-create/event/{id}(id=${event.id})}">Create tickets</a></p>
    <p><a th:href="@{/ticket-delete/event/{id} (id=${event.id})}">Delete tickets</a></p>
</div>
<div><a href="/main">Перейти на главную страницу</a></div>
</body>
</html>