<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Ticket</title>
</head>
<body>
<h1>Please, create some Ticket</h1>
<form action="#" th:action="@{/ticket-create/event/{id} (id=${event.id})}" method="post">
    <div th:text="${'Мероприятие: ' + event.eventName}"></div>
    <div th:text="${'Тип мероприятия: ' + event.eventType.eventTypeName}"></div>
    <div th:text="${'Дата мероприятия: ' + event.formatDateOfEvent(event.dateOfEvent)}"></div>
    <label>Choose sector</label>
    <select name="sectorId">
        <option th:each="sector : ${sectors}" th:value="${sector.id}" th:text="${sector.sectorName}">
        </option>
    </select>
    <br/>
    <label>Choose seat number you want to create tickets from</label>
    <input type="number" name="fromSeatNumber" placeholder="Write number FROM">
    <br/>
    <label>Choose seat number you want to create tickets to</label>
    <input type="number" name="toSeatNumber" placeholder="Write number TO">
    <br/>
    <label>Choose cost of ticket</label>
    <input type="number" name="cost" placeholder="Write cost">
    <br/>
    <input type="submit" value="Create tickets">
</form>
<div><a href="/main">Перейти на главную страницу</a></div>
</body>
</html>