<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Delete Ticket</title>
    <style>
        td { text-align: center; }
    </style>
</head>
<body>
<h1>Please, delete some tickets</h1>
<form action="#" th:action="@{/delete/ticket-delete/event/{id} (id=${IdOfEvent})}" method="post">
    <table border="1">
        <tr>
            <td>Name of event:</td>
            <td th:text="${event.eventName}"></td>
        </tr>
        <tr>
            <td>EventType:</td>
            <td th:text="${event.eventType}"></td>
        </tr>
        <tr>
            <td>Date of Event:</td>
            <td th:text="${#temporals.format(event.dateOfEvent, 'dd.MM.yyyy HH:mm')}"></td>
        </tr>
        <tr>
            <td>Select the sector of deleted tickets:</td>
            <td>
                <select name="sectorId">
                    <option th:each="sector : ${sectors}" th:value="${sector.id}" th:text="${sector.sectorName}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Enter the number of the seat from which you want to delete tickets</td>
            <td><input type="number" name="fromSeatNumber" placeholder="Write number FROM"></td>
        </tr>
        <tr>
            <td>Enter the number of the place to which you want to create tickets</td>
            <td><input type="number" name="toSeatNumber" placeholder="Write number TO"></td>
        </tr>
        <tr>
            <td><button type="submit">Delete Tickets</button></td>
        </tr>
    </table>
</form>
<div><a href="/main">Go to main page</a></div>
</body>
</html>